<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <ng-container *ngIf="!isEmpty()">
  <ion-card *ngFor="let item of list; trackBy:trackElement" [style.background-color]="item.color">
    <ion-card-header>
        {{item.lastUpdated | date: 'medium'}}
    </ion-card-header>
    <ion-card-content (click) = "updateItem(item)">
      {{item.value}}
    </ion-card-content>
  </ion-card>
</ng-container>
    <ion-icon name="add-circle" class="addBtn" [routerLink]="['/add-note']"></ion-icon>
</ion-content>
